		@media only screen and (max-width: 1000px){
					.header_bottom {
			background-color: #ffffff;
			}
										}
		@media only screen and (min-width: 480px) and (max-width: 768px){

					section.parallax_section_holder{
			height: auto !important;
			min-height: 400px;
			}
						}
		@media only screen and (max-width: 768px){
					h1, h1 a {
			font-size: 69px; 			line-height: 73px; 						}
		
		
					h3, h3 a {
			font-size: 30px; 			line-height: 40px; 						}
		
		
		
		
		
		
		
		
		
		
		
		}
		@media only screen and (max-width: 600px) {
					h1, h1 a {
			font-size: 39px; 			line-height: 43px; 						}
		
		
					h3, h3 a {
			font-size: 25px; 			line-height: 35px; 						}
		
		
		
		
		
		
		
		
				}
		@media only screen and (max-width: 480px){

					section.parallax_section_holder {
			height: auto !important;
			min-height: 400px;
			}
		
				
				}
		
		
	